<html>
<head>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  
  
  <script type="text/javascript" src="/js/form.js"></script> 
</head>
<body>

	<form id="genericForm" th:action="@{${link}}" th:object="${form}" method="post">
		<div th:text="${form.name}"></div>
<!-- 		<div th:text="${completedSteps.intValue()}"></div> -->
<!-- 		<div th:text="${completedSteps &gt; 1}"></div> -->
		<div th:if="${completedSteps &gt; 1}">
		<input name="templateId" type="hidden" th:value="${templateId}" /> 
		<input name="formId" type="hidden" th:value="${formId}" />
		<input name="candidateId" type="hidden" th:value="${candidateId}"/>
			
		</div>
		<th:block th:each="field,iter : ${form.fields}">

			<div th:text="${field.label}"></div>
			<th:block th:switch="${field.type}">
				<div th:case="'SHORT_TEXT_FIELD'">
					<input type="text" th:attr="name=${field.type+'_'+field.id}" >  
					
				</div>
				<div th:case="'LONG_TEXT_FIELD'">
					<textarea rows="3" cols="5"  th:attr="name=${field.type+'_'+field.id}"></textarea>
				</div>
				<div th:case="'DATE'">
					<input type="date"  th:attr="name=${field.type+'_'+field.id}">
				</div>
				<div th:case="'CHOICE'">
					<select  th:attr="name=${field.type+'_'+field.id}">
						<div th:if="${field.value != null}">
							<th:block th:each="item : ${#strings.arraySplit(field.value, ',')}">
								<option th:value="${item}" th:text="${item}"></option>
								
							</th:block>
						</div>
					</select>
				</div>
				<div th:case="'MULTIPLE_CHOICE'">
					<!-- print object is new and active -->
					<select multiple="multiple"  th:attr="name=${field.type+'_'+field.id}">
						<div th:if="${field.value != null}">
								<th:block th:each="item : ${#strings.arraySplit(field.value, ',')}">
								<option th:value="${item}" th:text="${item}"></option>
								
							</th:block>
						</div>

					</select>
				</div>
				<div th:case="'CHECKBOX'">
					<input type="checkbox"  th:attr="name=${field.type+'_'+field.id}">
				</div>
				<div th:case="'NUMBER'">
					<input type="number"  th:attr="name=${field.type+'_'+field.id}">
				</div>
			</th:block>
		</th:block>
		
		<input id="submitGeneric" type="submit" value="Submit">
		<div id="sucess"></div>
		<div id ="error"></div>

	</form>

		
		
		
</body>

</html>