<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<!-- <link rel="icon" href="data:,"> -->
<meta charset="UTF-8">
<title>Boarding index</title>
</head>
<body>

<div>Naziv predloska</div>
<div th:text="${template}"></div>

<div id="completedSteps" th:text="${completedSteps}" style="display:none;"></div>

<div id="candidateId" th:text="${candidateId}" style="display:none;"></div>

<div th:if="${form != null}">
	<div th:replace="fragments/form">...</div>
</div>
<div th:if="${completedSteps == 1}">
	<div th:replace="fragments/upload">...</div>
</div>


<div th:if="${!over}">
<a id="next" th:href="@{'/'+${template}+'/'+ ${templateId}+'/'+ ${nextFormId} + '/'+${numForms}+'/'+${completedSteps}+'/'+${candidateId}}" th:text="${completedSteps==0?'Zapocni':'Sljedeca'}"></a>
</div>
</body>
</html>